<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title CV Mobile api
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
  body(style="height:100vh; box-sizing:border-box;")
    div(class="jumbotron w-100", style="height:18vh")
      h1.font-weight-bold CV Mobile API
      p.lead This is the documentation page of the CV Mobile app API

    div(class="row px-4 mx-auto w-100", style="height:80vh;")
      div(class="container col-2", style="height:100%;")
        nav(class="navbar-light bg-light p-3", id="api-nav")
          a(class="navbar-brand", href="#") API Functionalities
          nav(class="nav nav-pills flex-column")
            a(class="nav-link" href="#item-1") Users
            nav(class="nav nav-pills flex-column")
              a(class="nav-link ml-3" href="#item-1-1") Get all users
              a(class="nav-link ml-3" href="#item-1-2") User pagination
              a(class="nav-link ml-3" href="#item-1-3") Get user by ID
              a(class="nav-link ml-3" href="#item-1-4") Add new user
              a(class="nav-link ml-3" href="#item-1-5") Modify user
              a(class="nav-link ml-3" href="#item-1-6") Delete user
            a(class="nav-link" href="#item-2") Skills
            nav(class="nav nav-pills flex-column")
              a(class="nav-link ml-3" href="#item-2-1") Get skills
              a(class="nav-link ml-3" href="#item-2-2") Add skill
            a(class="nav-link" href="#item-3") Languages
            nav(class="nav nav-pills flex-column")
              a(class="nav-link ml-3" href="#item-3-1") Get languages
              a(class="nav-link ml-3" href="#item-3-2") Add language

      div(class="container col-10", data-spy="scroll", data-target="#api-nav", data-offset="0", style="height:100%; overflow-y: scroll;")
        h1(id="item-1", class="display-2 font-weight-bold") Users
        p.mb-5 Users can be listed, created, modified and deleted from the API, but to do so you have to be sure to do it the way it is explained below in this page.
        .row
          .container-fluid.mb-5
            h2(class="mb-3 font-weight-bold", id="item-1-1") # Get all users
            p The main functionality of the API is th get the full list of users stored in the database.
            p To get those users you need to to a get request to the endpoint below:
            p(class="p-4 bg-light")
              code
                a(href="https://cv-mobile-api.herokuapp.com/api/users", class="text-danger") https://cv-mobile-api.herokuapp.com/api/users
            h4.mt-4 Fetch request example
            p(class="p-4 bg-dark")
              code.text-white fetch('https://cv-mobile-api.herokuapp.com/api/users')
              br
              code.text-white .then( response => response.json() )
              br
              code.text-white .then( jsonResponse => console.log(jsonResponse) )
            h4.mt-4 Ajax request example
            p(class="p-4 bg-dark")
              code.text-white $.ajax('https://cv-mobile-api.herokuapp.com/api/users')
              br
              code.text-white .done( response => console.log(response))
        .row
          .container-fluid.mb-5
            h2(class="mb-3 font-weight-bold", id="item-1-2") # User pagination
            p Sometimes there is no need to fetch all users in one request, instead of it you may prefer to get just a group of users.
            p The main cases to use pagination instead of fetching all users are:
              |
              span.font-weight-bold  Infinite scroll, lazy loading, etc.
            p To make it easier to develop those functionalities there is an endpoint where you will get as response an object with 10 users, as they appear on the database.
            p(class="p-4 bg-light")
              code
                a(href="https://cv-mobile-api.herokuapp.com/api/users/pages/1", class="text-danger") https://cv-mobile-api.herokuapp.com/api/users/pages/1
            p This url works similar to the previews one but adds a dynamic parameter at the end to render different user pages.
            p For every page you request, the api skips the needed users to avoid repetition so if you request for the 3rd page the response will be an object with the users 21 to 30.
            h4.mt-4 Fetch request example
            p(class="p-4 bg-dark")
              code.text-white fetch('https://cv-mobile-api.herokuapp.com/api/users/pages/2')
              br
              code.text-white .then( response => response.json() )
              br
              code.text-white .then( jsonResponse => console.log(jsonResponse) )
            h4.mt-4 Ajax request example
            p(class="p-4 bg-dark")
              code.text-white $.ajax('https://cv-mobile-api.herokuapp.com/api/users/pages/2')
              br
              code.text-white .done( response => console.log(response))
        .row
          .container-fluid.mb-5
            h2(class="mb-3 font-weight-bold", id="item-1-3") # Get user by ID
            p To get the data of a single user you just need to now its _id property.
            p(class="p-4 bg-light")
              code
                a(href="https://cv-mobile-api.herokuapp.com/api/users/5bbcd6c233daa000153cc81e", class="text-danger") https://cv-mobile-api.herokuapp.com/api/users/5bbcd6c233daa000153cc81e
            h4.mt-4 Fetch request example
            p(class="p-4 bg-dark")
              code.text-white fetch('https://cv-mobile-api.herokuapp.com/api/users/5bbcd6c233daa000153cc81e')
              br
              code.text-white .then( response => response.json() )
              br
              code.text-white .then( jsonResponse => console.log(jsonResponse) )
            h4.mt-4 Ajax request example
            p(class="p-4 bg-dark")
              code.text-white $.ajax('https://cv-mobile-api.herokuapp.com/api/users/5bbcd6c233daa000153cc81e')
              br
              code.text-white .done( response => console.log(response))
        .row
          .container-fluid.mb-5
            h2(class="mb-3 font-weight-bold", id="item-1-4") # Add a new user
            p Lorem ipsum dolor sit amet.
        .row
          .container-fluid.mb-5
            h2(class="mb-3 font-weight-bold", id="item-1-5") # Get all users
            p Lorem ipsum dolor sit amet.
        .row
          .container-fluid.mb-5
            h2(class="mb-3 font-weight-bold", id="item-1-6") # Get users 10 by 10
            p Lorem ipsum dolor sit amet.
        h1(class="font-weight-bold display-2 font-weight-bold", id="item-2") Skills
        p.mb-5 Lorem ipsum dolor sit amet.
        .row
          .container-fluid.mb-5
            h2(class="mb-3 font-weight-bold", id="item-2-1") # Get skills
            p Lorem ipsum dolor sit amet.
        .row
          .container-fluid.mb-5
            h2(class="mb-3 font-weight-bold", id="item-2-2") # Add a new skill
            p Lorem ipsum dolor sit amet.
        h1(class="font-weight-bold display-2 font-weight-bold", id="item-3") Languages
        p.mb-5 Lorem ipsum dolor sit amet.
        .row
          .container-fluid.mb-5
            h2(class="mb-3 font-weight-bold", id="item-3-1") # Get languages
            p Lorem ipsum dolor sit amet.
        .row
          .container-fluid.mb-5
            h2(class="mb-3 font-weight-bold", id="item-3-2") # Add a new language
            p Lorem ipsum dolor sit amet.
        h1(class="font-weight-bold", id="item-4") More coming soon...
        p Surveys, informs...


    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")